body {
  background-color: #fff3f3;
}

.main_container {
  padding: 20px;
  margin-top: 120px;
}

.poketmon_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}
