.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;

  .redline {
    background-color: red;
    width: 100vw;
    height: 35px;
  }
  .logo {
    background-color: black;
    color: white;
    width: 100vw;
    height: 25px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 25px;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-size: 20px;

    .nav a {
      color: black;
      font-weight: bold;
      text-decoration: none;
      margin-left: 30px;

      &:hover {
        color: red;
        font-size: 24px;
      }
    }
  }
  .search {
    display: flex;

    input {
      padding: 8px 12px;
      border: none;
      border-bottom: 1px solid rgb(199, 198, 198);
      font-size: 15px;
    }

    button {
      padding: 2px;
      background-color: white;
      border: none;
      cursor: pointer;
      font-size: 20px;
    }
  }
}
